<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listener.TestListeners" />
    </listeners>
    <test verbose="2" preserve-order="true" name="EDRMC Portal UI Automation">
        <classes>
            <class name="testcase.LoginPage"/>
            <class name="testcase.PermanentResidentScenario1"/>
            <class name="testcase.PermanentResidentScenario2"/>
            <class name="testcase.PermanentResidentScenario3"/>
            <class name="testcase.PermanentResidentScenario4"/>
            <class name="testcase.PermanentResidentScenario5"/>
        </classes>
    </test>
</suite>